extends layout

block content
  div(class='row')
    table(class='table')
      thead
        tr
          th Name
          th DOB
          th Status
      tbody
        each person in people
          tr
            td= person.name
            td= person.dob
            td= person.status
            td
              a(class='delete btn btn-link', href='/delete/' + person.id) delete

  div(class='row')
    a(class='new btn btn-link', href='/new') Add a new person
